<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
</style>

<ng-container *ngIf="this.collapsed">
  <div class="container" style="height: 100% !important; background-color: #f0f0f0; color: #688490; padding-top: 10px; max-width: 90px; left: 0px; position: fixed;">
    <div
      style="width: 60px; height: 60px; border-radius: 20px; border: 3px solid #688490; float: left; justify-content: center; display: flex; align-items: center; margin: 0px; padding: 0px;">
      <img src="{{ this.iconPath }}" style="height: 40px; width: 40px; margin: 0px; padding: 0px;"
        (click)="this.collapse(false)" />
    </div>
    <button
      style="position: fixed; left: 15px; bottom: 45px; height: 60px; width: 60px; border-radius: 30px; background-color: #688490; border: 1px solid white;"
      (click)="this.collapse(false)">
      <img src="assets/arrows_right.png"
        style="display: block; height: 60px; margin-left: -4px; margin-top: -2px; float: left;" /></button>
  </div>
</ng-container>
<ng-container *ngIf="!this.collapsed">
  <div class="container" style="height: 100% !important; background-color: #f0f0f0; color: #688490; padding-top: 10px; max-width: 300px; left: 0px; position: fixed;">
    <div class="row" style="display: flex; justify-content: center;">
      <img src="{{ this.iconPath }}" style="height: 70px; width: 70px;" />
    </div>
    <div class="row" style="display: flex; justify-content: center;">
      <div style="font-size: 35px; text-align: center !important; font-family: 'Montserrat Subrayada', sans-serif;">
        {{ this.header }}</div>
    </div>
    <button
      style="position: fixed; left: 15px; bottom: 45px; height: 60px; width: 60px; border-radius: 30px; background-color: #688490; border: 1px solid white;"
      (click)="this.collapse(true)">
      <img src="assets/arrows_left.png"
        style="display: block; height: 60px; margin-left: -8px; margin-top: -2px; float: left;" />
    </button>
  </div>
</ng-container>
