@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.numeric-box {
  border-radius: 3px;
  border: 1px solid black;
}

.mat-dialog-container {
  padding: 0px !important;
}

.mat-dialog-content {
  margin: 0px !important;
  padding: 10px;
}

.mat-dialog-actions {
  margin-bottom: 0px !important;
  margin-right: 10px !important;
}

.ngx-file-drop__drop-zone {
  height: 410px !important;
}

.ngx-file-drop__drop-zone--over {
  background-color: rgba(255, 0, 149, 0.1) !important;
}

.ngx-file-drop__content {
  height: 410px !important;
}
