<style>
  @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Russo+One&display=swap');
</style>

<nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #183646 !important; align-items: center !important;">
  <a href="#" style="margin-right: 30px; vertical-align: middle !important">
    <img src="assets/logo.png" style="display: block; margin: 0px; height: 50px; float: left;" />
    <div class="navbar-brand app-header" style="padding-top: 15px; height: 50px; color: white;" href="#">Pub</div>
    <div class="app-header" style="float: left; padding-top: 15px; height: 50px; color: rgba(235,0,120, 1);">
      CITE</div>
    <div class="app-header" style="float: left; padding-top: 15px; height: 50px; color: white;">
      R</div>
  </a>
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" (click)="this.toggle($event)">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse collapsed" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <ng-container *ngIf="this.showDelimitor">
        <div aria-controls="navbarNavAltMarkup" style="height: 40px; width: 2px; background-color: white; margin-right: 20px;"></div>
      </ng-container>
      <ng-container *ngIf="!this.showDelimitor">
        <div aria-controls="navbarNavAltMarkup" style="height: 2px; background-color: white; margin-top: 10px; margin-bottom: 10px;"></div>
      </ng-container>
      <a class="nav-item nav-link active menu-item" href="/dashboard">
        <img src="assets/dashboard.png" style="display: block; margin: 0px; height: 22px; float: left;" />
        <div style="padding-top: 7px; color: white; float: left; font-size: 22px; margin: 0px 10px 0px 5px; margin-top: -5px;">Dashboard</div>
      </a>
      <a class="nav-item nav-link active menu-item" href="/library">
        <img src="assets/library.png" style="display: block; margin: 0px; height: 22px; float: left;" />
        <div style="padding-top: 7px; color: white; float: left; font-size: 22px; margin: 0px 10px 0px 5px; margin-top: -5px;">My library</div>
      </a>
      <a class="nav-item nav-link active menu-item" href="/quarantine">
        <img src="assets/quarantine.png" style="display: block; margin: 0px; height: 22px; float: left;" />
        <div style="padding-top: 7px; color: white; float: left; font-size: 22px; margin: 0px 10px 0px 5px; margin-top: -5px;">Quarantine</div>
      </a>
      <a class="nav-item nav-link active menu-item" href="/sync">
        <img src="assets/sync.png" style="display: block; margin: 0px; height: 22px; float: left;" />
        <div style="padding-top: 7px; color: white; float: left; font-size: 22px; margin: 0px 10px 0px 5px; margin-top: -5px;">Sync</div>
      </a>
      <a class="nav-item nav-link active menu-item" href="/utils">
        <img src="assets/utils.png" style="display: block; margin: 0px; height: 22px; float: left;" />
        <div style="padding-top: 7px; color: white; float: left; font-size: 22px; margin: 0px 10px 0px 5px; margin-top: -5px;">Utils</div>
      </a>
      <a class="nav-item nav-link active menu-item" href="/settings">
        <img src="assets/settings.png" style="display: block; margin: 0px; height: 22px; float: left;" />
        <div style="padding-top: 7px; color: white; float: left; font-size: 22px; margin: 0px 10px 0px 5px; margin-top: -5px;">Settings</div>
      </a>
    </div>
  </div>
</nav>
