<div class="card mb-3 shadow block-status row">
  <div class="card-header"
    style="min-height: 40px; margin: 0px; padding: 3px 20px 3px 20px; background-color: #1E88E5; border-width: 0px;">
    <div style="vertical-align: middle; align-items: center; color: white;">
      {{ publication.title }}
    </div>
  </div>
  <div class="card-body row" style="display:flex;justify-content:left;align-items:center;">
    <!--<div class="column">
      <ng-container *ngIf="advert.photo == null">
        <img src="assets/img_error.png" style="width: 150px; height: 200px; margin-left: 20px; border-radius: 5px;">
      </ng-container>
      <ng-container *ngIf="advert.photo != null">
        <img [src]="processImage(advert.photo)"
          style="width: 150px; height: 200px; margin-left: 20px; border-radius: 5px;" />
      </ng-container>
    </div>
    <div class="column" style="margin-left: 45px;">
      <div class="row" style="margin-bottom: 10px; margin-left: -5px; max-width: 300px;">
        <p style="margin: 0px; color: royalblue; font-weight: bold;">{{ advert.description }}</p>
      </div>
      <div class="row" style="align-items: center; margin-bottom: 5px;">
        <img src="assets/person.png" style="height: 20px; width: 20px; margin-right: 5px; margin-left: 5px;">
        <p style="margin: 0px 0px 0px 5px; font-weight: bold;">Inzerent:</p>
        <p style="margin: 0px 0px 0px 10px;">{{ advert.person }}</p>
      </div>
      <div class="row" style="align-items: center;">
        <img src="assets/phone.png" style="height: 25px; width: 25px; margin-right: 5px; margin-left: 3px;">
        <p style="margin: 0px; font-weight: bold;">Telefón:</p>
        <p style="margin: 0px 0px 0px 10px;">{{ advert.telephone }}</p>
      </div>
      <div class="row" style="align-items: center;">
        <img src="assets/mail.png" style="height: 30px; width: 30px; margin-right: 5px;">
        <p style="margin: 0px; font-weight: bold;">E-mail:</p>
        <p style="margin: 0px 0px 0px 10px;">{{ advert.email }}</p>
      </div>
      <div class="row" style="align-items: center; margin-bottom: 3px;">
        <img src="assets/location.png" style="height: 25px; width: 20px; margin-left: 5px; margin-right: 5px;">
        <p style="margin: 0px 0px 0px 3px; font-weight: bold;">Lokalita:</p>
        <p style="margin: 0px 0px 0px 10px;">{{ advert.location }}</p>
      </div>
      <div class="row" style="align-items: center;">
        <img src="assets/tag.png" style="height: 25px; width: 25px;margin-left: 3px; margin-right: 5px;">
        <p style="margin: 0px; font-weight: bold;">Tagy:</p>
      </div>
    </div>-->
  </div>
</div>
