<app-navbar></app-navbar>
<app-side-bar [header]="this.header" [iconPath]="this.iconPath" [collapsed]="this.collapsed" (widthEmitter)="this.panelResized($event)" (action)="this.panelActionExecute($event)"></app-side-bar>
<div class="container-fluid" style="padding: 0px; margin-top: 70px; overflow-x: hidden;">
  <div class="row" [style.margin-left.px]="this.offset">
    <router-outlet *ngIf="this.refresh" (activate)="this.activated($event)"></router-outlet>
  </div>
</div>
<div class="navbar fixed-bottom" style="height: 40px; background-color: #231f20; color: #688490">© 2021 FHI EUBA. All Rights Reserved.</div>
