<div style="background-color: gold; border-radius: 3px;">
  <img style="float: left; height: 40px; width: 40px; margin: 5px;"
    class="icon" src="assets/quarantine_black.png">
    <div style="padding: 15px; font-size: 35px; font-weight: bold;">Quarantine</div>
</div>
<h2 style="color: #004ecb; margin-bottom: 10px;">{{ this.data.title }}</h2>
<mat-dialog-content class="mat-typography" style="padding-top: 10px; padding-bottom: 10px;">
  <ng-container *ngIf="data.args.operation === 'add'">
    <p>This publication will be moved to quarantine and thus will be omitted in synchronization process. Do you wish to continue?</p>
  </ng-container>
  <ng-container *ngIf="data.args.operation === 'remove'">
    <p>This publication will be removed from quarantine and returned to library. Do you wish to continue?</p>
  </ng-container>
  <ng-container *ngIf="data.args.operation === 'remove all'">
    <p>Do you wish to move all quarantined publications to library?</p>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>No</button>
  <button mat-button (click)="this.onYesClick()">Yes</button>
</mat-dialog-actions>
