<form #searchBar
  style="display: flex; flex-direction: row-reverse; margin: 0px; height: 40px; background-color:palegoldenrod; justify-content: space-between;">
  <div style="display: flex; flex-direction: row-reverse;">
    <button class="action-item" style="width: 100px; margin: 5px 25px 5px 5px; color: white;"
      (click)="this.search(searchInput.value)">Search</button>
    <div style="margin: 5px 0px; border: 1px solid  #688490; border-radius: 3px; height: 30px; width: 300px;">
      <img
        style="float: left; height: 28px; width: 34px; margin-left: 7px; padding: 2px 8px 2px 0px; border-right: 1px solid  #688490;"
        class="icon" src="assets/glass.png">
      <input class="form-control" type="text"
        style="font-size: 12px; width: 257px; margin: 0px; padding: 5px; height: 28px; border: none; background-color: palegoldenrod;"
        placeholder="Search" #searchInput (keyup.enter)="this.search(searchInput.value)">
    </div>
    <div style="margin: 10px; color: #183646;">Results: {{ this.publications?.length !== null ?
      this.publications.length: 0 }}</div>
  </div>
  <div style="padding: 10px;">
    <mat-radio-group #viewTypeRadioGroup name="viewTypeRadioGroup" aria-label="Select an option"
      [(ngModel)]="this.viewType" (change)="this.changeViewType($event)">
      <mat-radio-button style="margin-right: 10px;" [value]="'cards'" checked>Card view</mat-radio-button>
      <mat-radio-button [value]="'table'">Table view</mat-radio-button>
    </mat-radio-group>
  </div>
</form>
<ng-container *ngIf="this.viewType === 'cards'">
  <div class="container-fluid" style="padding: 0px; margin-bottom: 30px; margin-left: 30px; padding-right: 30px;">
    <div class="row">
      <div class="column" style="width: 98% !important">
        <div class="card-deck" style="display: flex; flex-flow: column; padding: 20px !important;">
          <div *ngFor="let publication of this.publications; let i = index; trackBy: trackByFn">
            <app-publication-card [template]="'library'" [publication]="publication" [searchedText]="this.currentSearchedText"
              (publicationMoved)="this.onPublicationMoved($event)"
              (onRemovePublication)="this.onRemovePublication($event)"
              (onEditPublication)="this.onEditPublication($event)"></app-publication-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="this.viewType === 'table'">
  <div class="container-fluid" style="padding: 0px; margin-bottom: 30px; margin-left: 10px; padding-right: 10px;">
    <div class="row">
      <div class="column" *ngIf="this.dataSource.data.length > 0" style="width: 98% !important">
        <table mat-table [dataSource]="this.dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="position" style="width: 10%; margin-left: 10px; margin-right: 10px;">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" style="align-content: center;">
              <div
                style="min-width: 30px; padding: 5px; padding-bottom: 5px; background-color: #1E88E5; border-radius: 5px; text-align: center; vertical-align: middle; color: white; font-weight: bold; font-size: 20px;">
                {{ element.position }}</div>
            </td>
          </ng-container>
          <ng-container matColumnDef="title" style="width: 30%;">
            <th mat-header-cell *matHeaderCellDef style="padding-left: 10px; padding-right: 10px;"> Title </th>
            <td mat-cell *matCellDef="let element" style="padding-left: 10px; padding-right: 10px;" [innerHtml]="element?.title | highlight: this.currentSearchedText | safeHtml"></td>
          </ng-container>
          <ng-container matColumnDef="authors" style="width: 20%;">
            <th mat-header-cell *matHeaderCellDef style="padding-left: 10px; padding-right: 10px;"> Author </th>
            <td mat-cell *matCellDef="let element" style="padding-left: 10px; padding-right: 10px;" [innerHtml]="element?.authors | highlight: this.currentSearchedText | safeHtml"></td>
          </ng-container>
          <ng-container matColumnDef="journal" style="width: 30%;">
            <th mat-header-cell *matHeaderCellDef style="padding-left: 10px; padding-right: 10px;"> Journal </th>
            <td mat-cell *matCellDef="let element" style="padding-left: 10px; padding-right: 10px;" [innerHtml]="(element?.journal + ' ' + (element?.journalVolume ? ('(No. ' + element?.journalVolume + ')') : '' )) | highlight: this.currentSearchedText | safeHtml"></td>
          </ng-container>
          <ng-container matColumnDef="publicationYear" style="width: 10%;">
            <th mat-header-cell *matHeaderCellDef style="padding-left: 10px; padding-right: 10px;"> Year </th>
            <td mat-cell *matCellDef="let element" style="padding-left: 10px; padding-right: 10px;" [innerHtml]="element?.publicationYear | highlight: this.currentSearchedText | safeHtml"></td>
          </ng-container>
          <ng-container matColumnDef="opts" style="width: 5%;">
            <th mat-header-cell *matHeaderCellDef style="padding-left: 10px; padding-right: 10px;"></th>
            <td mat-cell *matCellDef="let element" style="padding-left: 10px; padding-right: 10px;">
              <button mat-mini-fab color="primary" style="width: 30px; height: 30px;" [matMenuTriggerFor]="menu">
                <div style="margin: 0px; vertical-align: text-top;">
                  ...
                </div>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="this.onEditPublication(element)">
                  <span>
                    <img class="icon" src="assets/edit_blue.png" style="height: 20px; width: 20px; margin-right: 10px;">
                    Edit publication
                  </span>
                </button>
                <button mat-menu-item (click)="this.onRemovePublication(element)">
                  <span>
                    <img class="icon" src="assets/remove.png" style="height: 20px; width: 15px; margin-right: 10px;">
                    Remove publication
                  </span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator style="margin-top: 20px;" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </div>
</ng-container>
