<div class="container-fluid" style="padding: 0px;  margin-bottom: 30px; padding-bottom: 30px;">
  <div class="row">
    <div class="column" style="width: 100% !important">
      <div class="card mb-3 shadow block-status flex-fill" style="margin-left: 40px; margin-top: 30px; max-width: 500px;">
        <div class="card-header row"
          style="margin: 0px; padding: 7px 20px 7px 20px; background-color: darkslateblue; border-width: 0px; justify-content: space-between !important;">
          <div style="vertical-align: middle; align-items: center; color: white; font-size: 16px;">Author overview</div>
        </div>
        <div class="card-body" style="display:flex; justify-content: space-between; align-items:center; margin: 5px;">
          <div class="d-flex flex-column" style="margin-right: 20px;">
            <div class="d-flex flex-row">
              <img [src]="this.author?.urlPicture" style="height: 150px; width: 150px; border-radius: 75px;">
            </div>
          </div>
          <div class="d-flex flex-column">
            <div style="color: dodgerblue; font-size: 25px; margin-bottom: 10px;">{{ this.author?.displayName }}</div>
            <div style="font-size: 18px; font-weight: bold;">{{ this.author?.affiliation?.split(',')[0] }}</div>
            <div style="font-size: 15px; margin-bottom: 20px;">{{ this.author?.affiliation?.split(',')[1] }}</div>
            <div class="d-flex flex-row">
              <img src="assets/quotes.png" style="height: 15px; width: 20px; margin-right: 5px;">
              <div style="margin-right: 5px;">Total cites:</div>
              <div style="font-weight: bold">{{ this.author?.totalCites }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column" style="width: 100% !important;">
      <div class="card mb-3 shadow flex" style="margin-left: 40px; margin-top: 30px; margin-bottom: 30px; margin-right: 80px;">
        <div class="card-header row"
          style="margin: 0px !important; padding-left: 10px !important; padding-right: 10px !important; padding-bottom: 5px; padding-top: 7px; background-color: darkorange; border-width: 0px; justify-content: space-between; max-height: 35px;">
          <div style="color: white; font-size: 16px; margin: 0px;">Citing year incidention</div>
          <mat-radio-group #chartTypeRadio color="primary" name="chartTypeRadio" aria-label="Select an option" [(ngModel)]="this.lineChartType" (change)="this.changeChartType($event)" style="color: white !important; margin: 0px; max-height: 30px;">
            <mat-radio-button style="margin-right: 10px;" [value]="'line'" checked>Line chart</mat-radio-button>
            <mat-radio-button [value]="'bar'">Bar chart</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="card-body">
          <div class="d-flex flex-row">
            <canvas baseChart style="max-height: 500px; max-width: 100% !important;"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
