<div>
  <button class="action-item" (click)="this.openExportFormatEnum()">
    <img src="assets/export_format.png" style="display: block; height: 22px; float: left;" />
    <div style="color: white; font-size: 18px;">Export formats</div>
  </button>
  <button class="action-item" (click)="this.openPublicationCategoryEnum()">
    <img src="assets/publication_category.png" style="display: block; height: 22px; float: left;" />
    <div style="color: white; font-size: 18px;">Publication categories</div>
  </button>
  <button class="action-item" (click)="this.openCitationCategoryEnum()">
    <img src="assets/feedback.png" style="display: block; height: 22px; float: left;" />
    <div style="color: white; font-size: 18px;">Citation categories</div>
  </button>
</div>
