<div style="background-color: darkslateblue; border-radius: 3px;">
  <img style="float: left; height: 30px; width: 30px; margin: 10px 5px 10px 10px; padding: 5px;"
    class="icon" src="assets/quotes.png">
    <div style="padding: 15px 0px; font-size: 25px; color: white; font-weight: bold;">Edit citation</div>
</div>
<mat-dialog-content class="mat-typography" style="padding: 20px;">
  <div style="display: flex; flex-direction: column;">
    <mat-form-field style="width: 1000px;">
      <mat-label>Title</mat-label>
      <input #title name="title" matInput placeholder="Title" [(ngModel)]="this.data.citation.title">
    </mat-form-field>
    <mat-form-field style="width: 1000px;">
      <mat-label>Authors</mat-label>
      <input #authors name="authors" matInput placeholder="Authors" [(ngModel)]="this.data.citation.authors">
    </mat-form-field>
    <mat-form-field style="width: 1000px;">
      <mat-label>Journal</mat-label>
      <input #journal name="journal" matInput placeholder="Journal" [(ngModel)]="this.data.citation.journal">
    </mat-form-field>
    <mat-form-field style="width: 1000px;">
      <mat-label>Year</mat-label>
      <input #year name="year" matInput placeholder="Year" [(ngModel)]="this.data.citation.publicationYear">
    </mat-form-field>
    <mat-form-field appearance="fill" style="background-color: white !important;">
      <mat-label>Citation category</mat-label>
      <mat-select [(value)]="this.data.citation.citationCategoryId">
        <mat-option *ngFor="let citationCategory of this.citationCategories" [value]="citationCategory.id">
          {{ citationCategory.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
  <button mat-button color="primary" (click)="this.onUpdateClick()" style="border: 1px solid darkorange; border-radius: 3px;">Update</button>
</mat-dialog-actions>
